.image{
    .image-wrap{

        position: absolute;
        top: 0;
        bottom: 49px;
        width: 100%;
        .wrap{
            display: flex;
        }
        ul{
            flex: 1;
height: max-content;
            li{
                padding: 5px 5px;
                width: 100%;
            }
        }
        img{
            width: 100%;
            display: block;
        }
    }
}